PORT=3000
NODE_ENV=development

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# Postgres
DATABASE_URL=postgres://postgres:postgres@localhost:5432/database
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=database
PG_USER=postgres
PG_PASSWORD=postgres
PG_SSL=false

# Azure OpenAI Configuration
AZURE_OPENAI_API_KEY=your-azure-api-key
AZURE_OPENAI_ENDPOINT=https://your-resource-name.openai.azure.com

# Azure LLM config
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o
AZURE_OPENAI_API_VERSION=2024-12-01-preview

# Voice-to-Text Configuration
TRANSCRIPTION_SERVICE=azure
MAX_AUDIO_FILE_SIZE=10485760

# Azure OpenAI (for transcription)
AZURE_OPENAI_TRANSCRIPTION_DEPLOYMENT_NAME=gpt-4o-transcribe
AZURE_OPENAI_API_TRANSCRIPTION_VERSION=2024-08-01-preview

# ElevenLabs (for transcription)
ELEVENLABS_API_KEY=your-elevenlabs-api-key

#Embedding provider
EMBEDDING_PROVIDER=xenova # 'azure' or 'xenova'

#Lanchain tool
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=langchain-api-key
LANGCHAIN_PROJECT="health-tech-backend"


FILESERVER_USER=
FILESERVER_PASS=
FILESERVER_BASE_URL=